# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\studywork\my-algorithm\my-algorithm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
